<!-- views/blog-detail.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roni's Radar</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://kit.fontawesome.com/d90b7d915f.js" crossorigin="anonymous"></script>
    <link rel="icon" href="data:image/svg+xml,
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>
            <text y='90' font-size='90'>📚</text>
        </svg>" type="image/svg+xml">
    </Link>
</head>

<body class="bg-white text-gray-800">

    <header class="py-6 bg-white ">
        <nav class="container mx-auto flex justify-between items-center " style="padding-right: 1.5rem; padding-left: 1.5rem;">
            <a href="/" class="text-[1.1rem] font-bold text-[#4A3F35]">📚 Roni's<span class="text-[#C47B47]"> Radar</span>
            </a href="/">
            <a href="/"
                class="text-[#8C4A35] border px-4 py-2 rounded border-[#8C4A35] hover:bg-[#8C4A35] hover:text-white">Back</a>
        </nav>
    </header>


    <!-- Blog Content -->
    <section class="container mx-auto  py-12" style="padding-right: 1.5rem; padding-left: 1.5rem;">
        <h1 class="text-xl md:text-3xl font-bold text-center">
            <%= post.title%>
        </h1>
        <p class="text-center text-gray-500 mt-2">Create at <%=post.date%>
        </p>

        <div class="mt-6">
            <img src="/images/uploads/<%=post.blogpic%>" alt="Blog Image"
                class="w-full rounded-lg object-cover max-h-[400px]">
        </div>

        <article class="mt-10 text-lg leading-relaxed text-gray-700">
            <%=post.content%>
        </article>
    </section>

    <footer class="bg-[#1D1B18] text-white py-8 mt-12">
        <div class="container mx-auto text-center">
            <p>© 2025 Roni's Radar. All rights reserved.</p>
            <a href="#" class="underline">Privacy Policy</a> |
            <a href="#" class="underline">Terms & Conditions</a>
        </div>
    </footer>
</body>

</html>